/*---------------------------------------------
[$reset]
----------------------------------------------*/

* {
    padding: 0;
    margin: 0;
}

/*---------------------------------------------
// ENDS [reset]
----------------------------------------------*/


/*---------------------------------------------
[$universal]
----------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Ubuntu:300');

body {
    color: #626262;
    font: 1em 'Playfair Display', serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #626262;
}

a:hover {
    color: #000;
}

/*---------------------------------------------
// ENDS [universal]
----------------------------------------------*/


/*---------------------------------------------
[$layout]
----------------------------------------------*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
}

.site-header {
    padding: 70px 0;
}

    .site-logo {
        font: 1em 'Inconsolata', monospace;
        color: #000;
    }

        .site-logo h1 {
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 6px;
        }

    .site-nav {
        text-align: right;
    }

        .site-nav li {
            font-size: 0.8em;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-left: 100px;
        }

.post {
    margin-bottom: 50px;
}

@media (min-width: 530px) {
    .post {
        margin-bottom: 135px;
    }
}

.post-img {
    margin-bottom: 25px;
}

.post-img-big {
    margin-bottom: 90px;
}

.post-meta {
    margin-bottom: 25px;
}

.post-meta, .post-comment {
    text-transform: uppercase;
    font: 0.9em 'Ubuntu', sans-serif;
}

    .post-meta a, .post-comment {
        color: #b4ad9e;
    }

.post-title {
    margin-bottom: 25px;
}
    .post-title h1, .post-title h2, .post-title h3, .post-title h4, .post-title h5, .post-title h6 {
        font-weight: normal;
        font-size: 1.8em;
    }

.post-body {
    font-size: 0.9em;
    line-height: 175%;
}

.post-comment {
    display: block;
    letter-spacing: 1px;
    margin-top: 50px;
}

.newsletter-form {
    background-color: #f0f0f0;
    text-align: center;
    padding: 75px 0;
    margin-bottom: 120px;
}

.newsletter-form h1, .newsletter-form h2, .newsletter-form h3, .newsletter-form h4, .newsletter-form h5, .newsletter-form h6 {
    font-weight: normal;
    font-size: 1.8em;
    margin-bottom: 80px;
}

.newsletter {
    border-bottom: 1px solid #000;
    display: inline-block;
}

.newsletter input[type=text] {
    background: none;
    border: 0;
    padding: .3em;
    font: 1em 'Playfair Display', serif;
    width: 250px;
}

.newsletter input[type=submit] {
    width: 32px;
    height: 17px;
    background: url(../img/newsletter-icon@2x.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    background-size: 100%;
    cursor: pointer;
}

/*---------------------------------------------
// ENDS [layout]
----------------------------------------------*/

/*---------------------------------------------
[$grid]
----------------------------------------------*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .row > * {
        margin-bottom: 20px;
    }

    .col-6 {
        width: 45%;
    }

    .col-3 {
        width: 22%;
    }

    .col-9 {
        width: 70%;
    }

    @media (max-width: 530px) {
        .col-6-sm {
            width: 100%;
        }
    }

/*---------------------------------------------
// ENDS [grid]
----------------------------------------------*/
